body {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 300px;
  margin: auto;
}

/* TodoHeader
***************************************************/
.container header {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
}

header > span {
  color: #ccc;
  font-size: 12px;
  margin-left: 5px;
}

header > button {
  font-size: 5px;
  padding: 7px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  float: right;
}

/* TodoList
***************************************************/
.container ul {
  padding: 0;
  list-style: none;
}

/* .container li {
  line-height: 30px;
  margin: 5px 0;
  border-bottom: 1px solid #ddd;
} */

.container input[type="checkbox"] {
  margin-right: 10px;
}

.done {
  text-decoration: line-through;
  color: grey;
}

.cmd {
  font-size: 12px;
  cursor: pointer;
  color: #08c;
  margin-right: 10px;
  float: right;
}

/* TodoForm
***************************************************/
/* form {
  margin-top: 50px;
}

.container input[type="text"] {
  font-size: 18px;
  width: 200px;
  border: 1px solid #dee7ec;
  padding: 10px;
  margin-right: 5px;
}

.container input[type="submit"] {
  background: #4fcfdf;
  margin-right: 5px;
  padding: 12px 15px;
  border: 1px solid #dee7ec;
  border-radius: 3px;
  float: right;
} */
